*{
    box-sizing: border-box;
}
#root{
    border: 2px coral solid;
}
#life-calendar{
    display: flex;
    flex-wrap: wrap;

    max-width: 80%;
    position: absolute;
    top: 70px;

    padding: 10px;
    background-color: powderblue;
    border-style: solid;
}
#side-bar-div{
    position: fixed;
    /*right: 0px;
    up: 0px;*/
    /*width: available;*/
    /*float: left;*/
    left: calc(80% + 15px); /*Needed so that there is no overlap, but why is it needed?*/
}
#note-info-div{
    /*grid-column: 3 / span 1;
    grid-row: 3 / span 1;*/

    border-style: solid;
    padding: 10px;
}
#notes-div{
    /*grid-column: 3 / span 1;
    grid-row: 2 / span 1;*/

    border-style: solid;
    padding: 10px;
}
#lc-options-div{
    position: fixed;
    left: 5px;
    up: 0px;
    /*max-height: 2em;*/
    z-index: 100;

    background-color: white;
    border-style: solid;
    padding: 10px;
    /*grid-column: 1 / span 1;
    grid-row: 1 / span 1;*/
}
.note-box-unclickable{
    pointer-events: none;
}
.note-box{
    border: solid;
    background-color: bisque;
}
.note-rep{
    border: solid;
    background-color: bisque;
}
.time-box {
    border-style: solid;
    padding: 0.2em;
    max-width: 7em;
    max-height: 7em;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
}
.time-box-interval-text{
    background-color: aquamarine;
    pointer-events: none;
}
#lc-options-form label{
    margin-left: 1em;
    padding-right: 1em;
}
#new-note-form{
    margin-top: 10px;
}

/*This is for form field and caption alignment:*/
#new-note-form { display: table; }
#new-note-form p     { display: table-row;  }
#new-note-form label { display: table-cell; }
#new-note-form input { display: table-cell; }