<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main View Title</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script>
        "use strict";
        var selectedNote = null;
        var saveNoteButton;

        function saveNoteButtonClicked(event){
            console.log("save button click'd!");
            window.location.href = "/update_note";
        }
        function initialize(){
            console.log("intialize call'd!");
            saveNoteButton = $('#saveNoteButton');
            saveNoteButton.click(saveNoteButtonClicked);
        }

        $(initialize);
        console.log("asfasf");



    </script>
    <style>
        .time-box{
            border-style: solid;
        }
    </style>
</head>
<body>
    <div id="life-calendar">
        {{$timeBoxes := .}}
        {{range $timeBoxes}}
            <div data-id={{.Id}} class="time-box">
                Time from {{.Start}} to {{.End}}
                {{range .NoteBoxes}}
                    <div>
                        {{.Note.Text}}
                        <!-- <input type="text" name={{.Id}} data-note-id={{.Note.Id}} value={{.Note.Text}}> -->
                        <button id={{.Id}}>Edit note</button>
                    </div>
                {{end}}
            </div>
        {{end}}
    </div>
    <h3>Selected note</h3>
    <form id="single-note-div" action="/note_changed" method="post">
        <input type="text" id="note-selected-text" value="(None selected)">
        <p>Note beginning: <span id="note-start">(None selected)</span></p>
        <p>Note end: <span id="note-end">(None selected)</span></p>
        <input type="submit" value="Save note!">
        <input type=hidden name="node-id" value="(None)">
    </form>
</body>
</html>