<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main View Title</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script>
        "use strict";
        var editNoteForm;
        var noteSelectedTextInput;

        function editNoteButtonClicked(e){
            console.log("edit note button click'd!")
            var clickedButton = $(e.target);
            var noteBoxDiv = clickedButton.closest("div").filter(".js-note-box");
            console.assert(noteBoxDiv !== undefined, "noteBoxDiv undefined");
            var start = noteBoxDiv.data("note-start");
            var end = noteBoxDiv.data("note-end");
            var text = noteBoxDiv.data("note-text");
            var id = noteBoxDiv.data("note-id");
            console.assert([start, end, text, id].every(x => x !== undefined), [start, end, text, id]);
            $('#note-selected-text').attr('value', text);
            $('#note-selected-start').attr('value', start);
            $('#note-selected-end').attr('value', end);
            $('#selected-note-id').attr('value', id);
        }

        function noteBoxClicked(e){
            console.log("time box click'd!");
            //OLTAVA SAMANTYYPPINEN FUNKTIO KUIN editNoteButtonClicked ja KUTSUTTAVA SITÄÖ

        }

        function timeBoxClicked(e){
            console.log("time box click'd!")
            var timeBox = $(e.target);
            var noteBoxes = timeBox.find('div.js-note-box');
            var noteIds = [];
            //TODO: () => noteIds.push($(this).data.noteId) EI TOIMI, MUTTA MIKSI? MITEN THIS TOIMII?
            noteBoxes.each(function() {
                noteIds.push($(this).data('note-id'));
            });
            var allNoteReps = $('.js-note-rep');
            allNoteReps.each(function(){
                var self = $(this); // TODO: miten this toimii?
                var noteId = self.data('note-id');
                if(noteIds.includes(noteId)){
                    self.show(400);
                }else{
                    self.hide();
                }
            });
        }

        function noteRepClicked(e){
            console.log("note-rep click'd!");

            var noteRep = $(e.target);
            console.assert(noteRep !== undefined, "noteRep undefined");
            var start = noteRep.data("note-start");
            var end = noteRep.data("note-end");
            var text = noteRep.data("note-text");
            var id = noteRep.data("note-id");
            console.assert([start, end, text, id].every(x => x !== undefined), [start, end, text, id]);
            $('#note-selected-text').attr('value', text);
            $('#note-selected-start').attr('value', start);
            $('#note-selected-end').attr('value', end);
            $('#selected-note-id').attr('value', id);
        }

        function initialize(){
            console.log("intialize call'd!");
            editNoteForm = $('#edit-note-form');

            // Set default selected life calendar option.
            var defaultSelectedOptionString = $('#resolution-unit-select').data('default-selected');
            console.log($('#resolution-unit-select').data("default-selected"));
            console.assert(defaultSelectedOptionString !== undefined);
            var defaultSelectedOption = $('#resolution-unit-select').find(`option[value="${defaultSelectedOptionString}"]`);
            defaultSelectedOption.attr('selected', true);

            $(document).click(function(e){
                var eventTargetJQuery = $(e.target)
                if(eventTargetJQuery.is(".js-note-box")){
                    editNoteButtonClicked(e);
                }
                if(eventTargetJQuery.is(".js-time-box")){
                    timeBoxClicked(e);
                }
                if(eventTargetJQuery.is(".js-note-rep")){
                    noteRepClicked(e);
                }
            });

            var resolutionSelect = $("#resolution-unit-select");
            resolutionSelect.change(function() {
                console.log("selection changed!")
                resolutionSelect.closest("form")[0].submit();
            });
        }

        console.log("executing script");
        $(initialize);

    </script>
</head>
<body>
    <div id="root">
        <div id="lc-options">
            <form id="lc-options-form" action="/lc_options_changed" method="post">
                <label for="resolution-unit-select">
                    Select time unit:
                </label>
                <select id="resolution-unit-select" name="resolution-unit" form="lc-options-form" data-default-selected="{{.ResolutionUnit}}">
                    {{range .AllResolutionUnits}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </form>
        </div>
        <div id="life-calendar">
            {{$timeBoxes := .TimeBoxes}}
            {{range $timeBoxes}}
                <div data-id="{{.Id}}" class="time-box js-time-box" data-start="{{.StartAsString}}" data-end="{{.EndAsString}}">
                    <div class="time-box-interval-text">
                        {{.StartAsString}} to {{.EndAsString}}
                    </div>
                    {{range .NoteBoxes}}
                        <div class="note-box-unclickable js-note-box" data-note-text="{{.Note.Text}}" data-note-start="{{.Note.StartAsString}}" data-note-end="{{.Note.EndAsString}}"
                                data-note-id="{{.Note.Id}}">
                            {{.Note.Text}}
                            <!-- <input type="text" name={{.Id}} data-note-id={{.Note.Id}} value={{.Note.Text}}> -->
                        </div>
                    {{end}}
                </div>
            {{end}}
        </div>
        <div id="notes-div">
            <h3>Content of this time box</h3>
            {{range .Notes}}
                <div class="note-rep js-note-rep" data-note-text="{{.Text}}" data-note-start="{{.StartAsString}}"
                     data-note-end="{{.EndAsString}}" data-note-id="{{.Id}}">
                    {{.Text}}
                </div>
            {{end}}
            <form id="new-note-form" action="/note_added" method="post">
                Create new note:
                <p>
                <label for="new-note-text">Text</label>
                <input type="text" id="new-note-text" name="note-text" value="(Placeholder)">
                </p>
                <p>
                <label for="new-note-start">Start</label>
                <input type="date" id="new-note-start" name="note-start" value="(None selected)">
                </p>
                <p>
                <label for="new-note-end">End</label>
                <input type="date" id="new-note-end" name="note-end" value="(None selected)">
                </p>
                <p>
                <input type="submit" value="Create">
                </p>
            </form>
        </div>
        <div id="note-info-div">
            <h3>Selected note</h3>
            <form id="edit-note-form" action="/note_changed" method="post">
                <input type="text" id="note-selected-text" name="note-text" value="(None selected)">
                <br/>
                <input type="date" id="note-selected-start" name="note-start" value="(None selected)">
                <br/>
                <input type="date" id="note-selected-end" name="note-end" value="(None selected)">
                <br/>
                <!--
                <p>Note beginning: <span id="note-start">(None selected)</span></p>
                <p>Note end: <span id="note-end">(None selected)</span></p>
                -->
                <input type="submit" value="Save note!">
                <br/>
                <input id="selected-note-id" type=hidden name="note-id" value="(None)">
            </form>
        </div>
    </div>
</body>
</html>